// Color Scheme

// First Color Scheme
$white:#ffffff;
$black:#000000;
$sable:#060606;
$charcoal:#2E1503;
$tangerine:#FFAF6D;
$orange:#FFA500;

// Second Color Scheme
$indigo:  #6610f2;
$purple:  #6f42c1;
$danger:rgb(198, 196, 196);

// Font Family
$ubuntu:'Ubuntu', sans-serif;
$poppins:'Poppins', sans-serif;

// Font Weight  
$regular:400;
$bold:700;

//Font Sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px; 
$x-small: 12px;
